name: Build and deploy ASP.Net Core app - todo-api-ranga-6741

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.x'

      - name: dotnet publish  
        run: dotnet publish ToDo.API/Todo.Api.csproj -c Release -o ./publish-folder --no-self-contained
        
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: net-app-artifact
          path: ./publish-folder

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: net-app-artifact
          path: ./ready-to-deploy
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_24E84E5DB2D941C3969BB2F3B37C381D }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_2F7F0E228FA84499B1C9C4A70D76B999 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_8451EA35CBC04AD29951C2F3C8787258 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'todo-api-ranga-6741'
          # Pointing exactly to the folder where the artifact was downloaded
          package: ./ready-to-deploy


